<nav>
    <span>
        <img src="/public/favicon.ico"  alt="IconLogo">
    </span>
    <span class="btn-ham">
        <img src="" alt="">
    </span>
    <ul>
        <li>
        <a routerLink="/" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact : true }"
        >Notas</a> <!--ROUTERLINK NOS DIRIJE A LA PAGINA SIN HACER UN REFRESH-->
        </li>
        <!-- [routerLinkActiveOptions]="{ exact : true }" para que cuando la ruta sea exactamente o el routerLink -->
        <!-- Para asociarlo a un valor de una señal -->
        <li>
            <a [routerLink]="['/cart']" [routerLinkActive]="'active'">Carrito</a>
        </li>
        <li>
            <a routerLink="/hero" routerLinkActive="active">Hero</a>
        </li>
        <li>
            <a [routerLink]="['/dragonball']" [routerLinkActive]="'active'">DragonBall</a>
        </li>
        <li>
            <a [routerLink]="['/dragonball-super']" [routerLinkActive]="'active'">DragonBall Super</a>
        </li>
    </ul>
</nav>
